
body{
  color: #20a705;
  font-family: "Poppins", sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #20a705;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  padding: 20px 40px;

}
.container_border{
  border: 1px #20a705 solid;
  border-radius: 50px;
  width: 80%;
  padding-bottom: 10px;
}
.jumbotron h1 {
  font-size: 50px;
  font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

/*map*/
#googleMap {
  width: 80%;
  height: 600px;
  margin: 20px auto;
}

/*output box*/
#output {
  text-align: center;
  font-size: 17px;
  width: 50%;
  height: 100px;
  position: relative;
  float: right;
  margin-top: 30px;
}
form {
width: 50%;
position: relative;
float: left;
}

#mode {
  color: black;
}
/* les parties ajouter */
.jumbotron h1, h3 {
  text-align: center;
}

.jumbotron form {
  margin-top: 50px;
}
.btn{
  background-color: #20a705;
}
.out{
  bottom: 0;
  position: absolute;
}